* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

/* ------------------------ START NAV ------------------------ */

.nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.nav__logo {
  display: flex;
  width: 170px;
  justify-content: space-between;
  align-items: center
}

.logo__image {
  width: 31.31px;
  height: 26.22px;
}

.logo__text {
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
}

.project__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #FFFFFF;
}

/* ------------------------ END NAV ------------------------ */

/* ------------------------ START MAIN STYLE ------------------------ */
.main{
  padding: 50px 30px;
}
/* ------------------------ END MAIN STYLE ------------------------ */


/* ------------------------ START MEME FORM ------------------------ */
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.control--form {
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  text-indent: 15px;
}

.form--btn {
  height: 40px;
  border: none;
  background-color: #A818DA;
  border-radius: 5px;
  color: #fff;
  grid-column: 1/3;
  font-size: 18px;
  transition: ease-in-out .5s;
  cursor: pointer;

}

.form--btn:hover {
  background-color: #fff;
  border: 1px solid #eee;
  color: #711F8D;
}

/* ------------------------ END MEME FORM ------------------------ */

/* ------------------------ START MEME STYLE------------------------ */

.meme {
  padding: 5px;
  border-radius: 15px;
  border: 2px solid rgb(133, 131, 131);
  background-color: #eee;
  height: 500px;
  position: relative;

}

.image--meme {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.meme--text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top{
  top: 20px;
}

.bottom{
  bottom: 20px;
}

/* ------------------------ END MEME STYLE------------------------ */
